@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset And Root Variables */
:root {
    --ff-primary: "Be Vietnam Pro", sans-serif;

    --primary-color: #00ADB5;
    --secondary-color: #393E46;
    --accent-color-primary: #222831;
    --accent-color-secondary: #EEEEEE;

    --text-primary: #00ADB5;
    --text-dark: #222831;
    --text-light: #475569;
    --text-extra-light: #f2f2f2;
    --white: #ffffff;
    --off-white: #dcdcdc;


    --fs-xsmall: ;
    --fs-small: ;
    --fs-medium: 1rem;
    --fs-mmedium: 1.25rem;
    --fs-xmedium: 1.5rem;
    --fs-large: 2rem;
    --fs-xlarge: 2.75rem;

    --btn-primary-color: #00ADB5;
    --btn-secondary-color: #00656b;

    --max-width: 1200px;
    --gradient: linear-gradient(to bottom, #393E46, #393E46);

    --z-index-wrapper: -10;
    --z-index-overlay: -5;

}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: system-ui;

    overflow-x: hidden;
    max-width: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;

    /* Setting all text decoration of links to none */
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */


/* Remove all animations and transitions for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
} */


/* Reset And Root Variables */


/* General Styling */

body {
    font-family: var(--ff-primary);
}

.sr-only {
    visibility: hidden;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 4rem 1rem;
}

.section__subheader {
    margin-bottom: .5rem;
    font-size: var(--fs-medium);
    font-weight: 600;
    color: var(--text-extra-light);
    letter-spacing: 1px;
}

.section__header {
    font-size: var(--fs-large);
    font-weight: 800;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
}

.btn {
    padding: .75rem 1rem;
    outline: none;
    border: none;
    font-size: var(--fs-medium);
    color: var(--white);
    background-color: var(--btn-primary-color);
    white-space: nowrap;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.503);
    max-height: 4rem;
}

.btn:hover {
    background-color: var(--btn-secondary-color);
    box-shadow: none;
}

/* End General Styling */

/* Button Scroll to top */

#btnScrollToTop {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: var(--text-dark);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: white;
    outline: none;
    cursor: pointer;
    z-index: 1000;
    /* transform: scale(0); */
    transform: translateY(100px);
    transition: bottom 200ms, transform 200ms;
}

#btnScrollToTop:active {
    background-color: var(--text-light);
}

#btnScrollToTop.show {
    /* transform: scale(1); */
    transform: translateY(0);
}

/* #btnScrollToTop:hover {
    transform: translateY(-0.5rem);
} */

/* .hide {
    display: none;
} */

/* End Button Scroll to top */


/* Header/Nav */

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

li {
    list-style: none;
}

header {
    position: relative;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-bottom: 3px solid var(--btn-primary-color);
    /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); */
    /* background-color: var(--text-extra-light); */
}

.nav__logo img {
    max-width: 150px;
    scale: 1;
}

.nav__logo a {
    font-size: var(--fs-xmedium);
    font-weight: 700;
    color: var(--white);
}

.nav__menu__btn {
    font-size: var(--fs-xmedium);
    color: var(--white);
    cursor: pointer;
}

.nav__remove__btn {
    display: none;
}

.nav__links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--secondary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links a {
    font-weight: 600;
    color: var(--white);
}

.nav__links .btn {
    padding: 0;
    background-color: transparent;
}

.nav__btns {
    display: none;
}

/* .btn {
    display: none;
} */

/* End Header/Nav */

/* Home Content */

.home__wrapper {
    /* background-color: var(--secondary-color); */
    background-image: url(../images/new-build-roof-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-attachment: fixed; */
}

.home__wrapper::before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: .6;
}

.header__container {
    display: grid;
    gap: 2rem 0;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.form__container {
    /* background: var(--accent-color-primary); */
    background-color: #000000cc;
    border-radius: 3rem 0rem 3rem 0rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.515);
    /* max-width: 500px; */
}

/* Form hover div (no inteference with SRjs) */
.form__container__grab {
    display: grid;
    justify-items: center;
    grid-row: 2;
    position: relative;
    transition: .3s;
}

.form__container__grab:hover {
    translate: 0px -5px;
}

/* End Form hover div (no inteference with SRjs) */

.header__content {
    text-align: center;
    margin-top: 4rem;
    border-bottom: 1px solid var(--accent-color-secondary);
    padding: 0rem auto;
}

.header__content h1 {
    position: relative;
    isolation: isolate;
    margin-bottom: 2rem;
    font-size: var(--fs-large);
    font-weight: 800;
    color: var(--text-primary);
    line-height: 3.25rem;
}

/* .header__content::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
} */

.header__content p {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: var(--fs-xmedium);
    color: var(--text-extra-light);
    line-height: 1.75rem;
}

.header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header__content .header__links__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 2rem;

}

.header__content .header__links__buttons span {
    padding-left: .5rem;
}

.header__links i {
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    color: #00ADB5;
}

.header__links .btn__secondary,
i {
    color: var(--text-extra-light);
}

.header__container .form__container {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem .8rem;
}

.header__container .form__container form {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1rem;
    margin: .5rem auto;
}

@media (width > 400px) {
    .header__container .form__container {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 2rem;
    }
}

.header__container .form__container h1 {
    font-size: var(--fs-xmedium);
    font-weight: 600;
    color: var(--text-extra-light);
    align-self: center;
    text-align: center;
}

.header__sub__title__container {
    display: grid;
    color: var(--text-extra-light);
}

.header__sub__title__container .sub__title {
    text-align: center;
    font-style: italic;
    font-size: var(--fs-medium);
}

.header__sub__title__container .sub__title i {
    opacity: .5;
    font-size: var(--fs-large);
}

.header__sub__title__container .sub__title h3 {
    padding: 1rem 0;
}

.form__container button {
    width: 10rem;
    align-self: center;
}

form input {
    height: 2rem;
}

form input,
textarea {
    border-radius: 5px;
    border: none;
    background-color: #393e46b5;
    color: var(--text-extra-light);
    caret-color: var(--text-extra-light);
    padding-left: .5rem;
}

form input::placeholder,
textarea::placeholder {
    color: var(--text-extra-light);
}

form textarea::placeholder {
    opacity: .5;
}

/* .file__btn {
    display: flex;
    align-items: center;
    width: fit-content;
    color: var(--white);
    background-color: #393e46b5;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    justify-self: center;
}

.file__btn img {
    width: 1rem;
    margin: 0 0 0 1rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(188deg) brightness(103%) contrast(102%);
} */

/* End Home Content */

/* About content */

.about__grid {
    margin: 4rem auto;
    display: grid;
    gap: 2rem;
}

.about__container {
    display: grid;
}

.about__container p {
    text-align: center;
    font-weight: 400;
    font-size: var(--fs-medium);
}

.about__container .text__highlight {
    color: var(--primary-color);
    font-weight: 600;
}

/* End About content */

/* Card Content */

.card__container :is(.section__subheader, .section__header) {
    text-align: center;
    padding: 0rem 1rem;
}

.card__container {
    background-color: #222831;
}

.card__grid {
    display: grid;
    gap: 2rem;
}

.card__card {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 1rem .5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.49);
    transition: .3s;
    border-bottom: 1rem solid var(--btn-primary-color);
}

.card__card:hover {
    transform: translateY(-10px);
}

.card__card span {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 10px 17px;
    background-color: var(--secondary-color);
    max-width: 7rem;
    justify-items: center;
}

.card__card h4 {
    margin-bottom: 1rem;
    font-size: var(--fs-mmedium);
    font-weight: 800;
    color: var(--primary-color);
}

.card__card p {
    color: var(--text-extra-light);
    line-height: 1.75rem;
}

.form__container:hover {
    transform: translateY(-20px);
}

.card__wrapper {
    background-color: var(--accent-color-primary);
}

/* End Card Content */

/* Services Content */

.services__container {
    display: grid;
}

.services__grid {
    display: grid;
    gap: 2rem;
}

.services__card {
    text-align: center;
    background-color: var(--btn-primary-color);
    padding: 0rem 0rem 1rem 0rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.49);
    transition: .3s;
    gap: 1rem;
    border-bottom: 1rem solid var(--text-light);
}

.services__card:hover {
    transform: translateY(-10px);
}

.services__card h4 {
    margin-bottom: 0rem;
    font-size: var(--fs-mmedium);
    font-weight: 800;
    color: var(--text-extra-light);
}

.services__card p {
    color: var(--text-extra-light);
    line-height: 1.75rem;
    padding: 1rem 1rem;
}

.services__card img {
    margin-bottom: 1rem;
    object-fit: fill;
}

/* End Services Content */

/* Why Content */

.why__section__wrapper {
    /* background-color: var(--secondary-color); */
    background-image: url(../images/LONDON_WALL.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: var(--z-index-wrapper);
    background-attachment: fixed;
}

.why__section__wrapper::before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: .7;
    z-index: var(--z-index-overlay);
}

.why__container {
    display: grid;
}

.why__grid {
    display: grid;
    gap: 2rem;
}

.why__card {
    text-align: center;
    background-color: var(--text-light);
    padding: 0rem 0rem 1rem 0rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.49);
    transition: .3s;
    gap: 1rem;
    border-bottom: 1rem solid var(--primary-color);
}

.why__card:hover {
    transform: translateY(-10px);
}

.why__container h2 {
    color: var(--text-extra-light);
}

.why__card h4 {
    margin-bottom: 0rem;
    font-size: var(--fs-mmedium);
    font-weight: 800;
    color: var(--text-extra-light);
}

.why__card p {
    color: var(--text-extra-light);
    line-height: 1.75rem;
    padding: 1rem 1rem;
}

.why__card .why__image img {
    display: inline-block;
    margin: 2rem 0;
    padding: 10px 17px;
    max-width: 6rem;
    justify-items: center;
    filter: invert(46%) sepia(88%) saturate(2884%) hue-rotate(152deg) brightness(99%) contrast(101%);
}

/* End Why Content */

/* Footer Content */

.footer__wrapper {
    background-color: var(--secondary-color);
}

.footer__container {
    display: grid;
}

.footer__grid {
    display: grid;
    gap: 2rem;
}

.footer__services {
    display: grid;
    gap: 1.5rem;
    align-content: start;
}

.footer__container .footer__header {
    font-size: var(--fs-xmedium);
    font-weight: 600;
    color: var(--btn-primary-color);
}

.footer__services ul {
    display: grid;
    gap: 1rem;
}

.footer__services ul a {
    color: var(--text-extra-light);
    margin-left: .2rem;
}

.footer__contact {
    display: grid;
    gap: 1.5rem;
}

.footer__links__buttons {
    display: flex;
    align-items: end;
    max-width: fit-content;
    max-height: fit-content;
}

.footer__links__buttons span {
    padding-left: .5rem;
}

.footer__social__links i {
    color: #00ADB5;
}

.footer__links__buttons .btn__secondary,
i {
    color: var(--text-extra-light);
}

.footer__contact .contact__items {
    display: flex;
}

.contact__items ul {
    display: grid;
    gap: 1rem;
}

.contact__items li {
    display: flex;
    color: var(--primary-color);
}

.contact__items ul a {
    color: var(--text-extra-light);
    margin-left: .4rem;
}

.contact__items ul i {
    color: var(--btn-primary-color);
    margin-right: .4rem;
}

.copyright__container {
    background-color: var(--btn-primary-color);
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: var(--text-extra-light);
}

/* End Footer Content */

/* Recaptcha */
.g-recaptcha {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* transform: scale(.75); */
}

/* End Recaptcha */

/* TRUST SECTION */
.trust__wrapper {
    background-color: var(--white);
}

.trust__grid {
    display: grid;
    gap: 2rem;
}

.trust__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trust__item img {
    height: 70px;
    width: 70px;
    margin-bottom: 1rem;
    margin-left: .5rem;
}

.trust__item h4 {
    margin-bottom: 0rem;
    font-size: var(--fs-mmedium);
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
}

.trust__header {
    font-size: var(--fs-large);
    font-weight: 800;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 3rem;
    margin-top: -2rem;
}

/* TRUST GRID MEDIA */
@media (width < 540px) {
    .trust__grid {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
    }
}

@media (width > 540px) {
    .trust__grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}

@media (width > 700px) {
    .trust__grid {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
}

@media (width > 1100px) {
    .trust__grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
/* END TRUST GRID MEDIA */

/* END TRUST SECTION */

/* CONTACT SECTION */
.contact__section__wrapper {
    background-color: var(--off-white);

    /* background-image: url(../images/LONDON_WALL.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: var(--z-index-wrapper);
    background-attachment: fixed; */
}

/* .contact__section__wrapper::before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: .6;
    z-index: var(--z-index-overlay);
} */

.contact__section .section__header {
    color: var(--primary-color);
}

.contact__grid {
    display: grid;
    gap: 2rem;
    justify-content: center;
}

.contact__container {
    display: grid;
    padding: 2rem;
    gap: 2rem;
    color: var(--white);
    max-width: 450px;
    border-bottom: 1rem solid var(--btn-primary-color);
}

/* @media (width > 400px) {
    .contact__container {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 2rem;
    }
} */

.contact__container .contact__heading {
    font-size: var(--fs-mmedium);
}

.contact__heading::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-top: 1rem;
}

.right__contact .contact__form {
    display: grid;
    gap: 1rem;
}

.right__contact .contact__form form {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1rem;
    margin: .5rem auto;
}

.contact__form button {
    width: 10rem;
    justify-self: center;
}

.left__contact {
    background-color: var(--text-light);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.right__contact {
    background-color: var(--text-light);
}

/* END CONTACT SECTION */

/* MEDIA QUERIES FOR DESKTOP AND TABLETS */

@media (width > 540px) {
    .card__grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .card__card {
        padding: 2rem .5rem;
    }

    .services__grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .why__grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .footer__grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .footer__container,
    .footer__grid {
        text-align: start;
    }

    .contact__grid {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }

    /* .left__contact {
        background-color: var(--text-light);
        justify-self: flex-end;
    }

    .right__contact {
        background-color: var(--text-light);
        justify-self: flex-start;
    } */

    /* .trust__grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    } */

    /* .footer__form__container {
        max-width: 435px;
    } */

    /* .footer__contact {
        grid-column: 3;
    } */

    /* .h-captcha {
        transform: scale(0.80);
        justify-self: center;
        margin: 0;
        padding: 0;
    } */
}

@media (width > 1000px) {

    header::before {
        height: calc(100% - 4rem);
    }

    nav {
        position: static;
        padding-block: .1rem;
        padding-inline: 1rem;
        /* max-width: 100%; */
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        border-bottom: 5px solid var(--btn-primary-color);
    }

    .nav__header {
        flex: 1;
        padding: 0;
        background-color: transparent;
        justify-content: center;
        border-bottom: none;
    }

    .nav__logo img {
        max-width: 200px;
        padding: 1.2rem;
        scale: 1.4;
    }

    .nav__logo a {
        font-weight: 800;
        color: var(--text-light);
    }

    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        padding: 0;
        width: fit-content;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav__links a {
        padding-block: 5px;
        color: var(--text-dark);
        border-bottom: 3px solid transparent;
    }

    .nav__links a:hover {
        border-color: var(--btn-primary-color);
    }

    .nav__links__btn {
        display: none;
    }

    .nav__btns {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }

    .nav__btns .btn__primary {
        color: var(--text-dark);
        background-color: transparent;
    }

    .header__container {
        grid-template-columns: repeat(2, auto);
        align-items: center;
        gap: 4rem;
    }

    .header__content {
        margin-top: 2rem;
        grid-area: 1/1;
        text-align: start;
        /* max-width: 32rem; */
        /* border-right: 1px solid var(--accent-color-secondary); */
        border-bottom: none;
        padding: 0rem 2rem;
    }

    .header__content h1 {
        position: relative;
        isolation: isolate;
        margin-bottom: 2rem;
        font-size: var(--fs-xlarge);
        font-weight: 800;
        color: var(--text-primary);
        line-height: 3.25rem;

        /* Min width for the type writer effect to not effect the div size. */
        min-width: 400px;
    }

    .header__container .form__container {
        grid-column: 2/2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
    }

    .form__container__grab {
        display: grid;
        grid-row: 1;
        position: relative;
        transition: .3s;
    }

    .header__container .form__container form {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 1rem;
    }

    .header__container .form__container h1 {
        font-size: var(--fs-xmedium);
        font-weight: 600;
        color: var(--text-extra-light);
        align-self: center;
        text-align: center;
    }

    .header__links {
        justify-content: flex-start;
    }

    .form__container button {
        width: 10rem;
        align-self: center;
    }

    .header__sub__title__container {
        display: flex;
        grid-column: span 3;
        justify-content: space-between;
    }

    .header__sub__title__container .sub__title {
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }

    .header__sub__title__container .sub__title i {
        opacity: .5;
        font-size: 4rem;
        display: flex;
    }

    .header__content .header__links__buttons {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        justify-content: flex-start;
        border-bottom: none;
    }

    .section__container .header__container {
        max-width: 100%;
    }

    #btnScrollToTop:hover {
        transform: translateY(-0.5rem);
    }

}

/* END MEDIA QUERIES FOR DESKTOP AND TABLETS */



/* -------------- POP UP AFTER SUBMIT FORM ---------------  */

.blur__container {
    position: fixed;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(20px);
    z-index: 1;
}

.popup {
    width: 350px;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0, 30px 30px;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 2;
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: var(--fs-large);
    font-weight: 600;
    margin: 30px 0 10px;
}

.popup button {
    width: 50%;
    margin: 2rem;
    padding: 1rem 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup button:active {
    background-color: #52a136;
    box-shadow: none;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.error__message {
    font-size: .9rem;
    text-align: center;
    color: red;
    display: none;
}

.invalid {
    border: 1px solid red;
}

/* -------------- END POP UP AFTER SUBMIT FORM ---------------  */


/* SWIPER JS STYLING */

.swiper {
    width: 100%;
    height: 250px;
    margin-top: 2rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    background-color: #00656b;
}

.swiper-button-prev,
.swiper-button-next {
    scale: 1.4;
}

.swiper-button-prev img,
.swiper-button-next img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.swiper-pagination-bullet-active {
    background-color: #00ADB5 !important;
}

/* SWIPER JS STYLING */